In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("CSV Reader").getOrCreate()

In [5]:

df = spark.read.option("header", True).csv("/content/sample_data/california_housing_train.csv")
df.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000|472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000|463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000|117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000|226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000|262.000000|     1.925000|      65500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

In [9]:
df.schema

StructType([StructField('longitude', StringType(), True), StructField('latitude', StringType(), True), StructField('housing_median_age', StringType(), True), StructField('total_rooms', StringType(), True), StructField('total_bedrooms', StringType(), True), StructField('population', StringType(), True), StructField('households', StringType(), True), StructField('median_income', StringType(), True), StructField('median_house_value', StringType(), True)])

In [10]:
df.columns                 # list columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [11]:
df.describe().show()       # summary stats

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|        -114.310000|         32.540000|          1.000000|      1000.000000|         1.000000|        100.000000|         1.000000|          0.499900|     100000.000000|
|    max|        -124.350000|         41.950000|          9.000000|      9992.000000|       999.000000|        999.000000|       999.000000|          9.907100|      99900.000000|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

In [13]:
from pyspark.sql import functions as F

âœ… Average house value by median income bracket:

In [14]:
df.groupBy(
    F.round("median_income", 1).alias("income_bracket")
).agg(
    F.avg("median_house_value").alias("avg_house_value")
).orderBy("income_bracket").show()

+--------------+------------------+
|income_bracket|   avg_house_value|
+--------------+------------------+
|           0.5|144905.55555555556|
|           0.6|          111300.0|
|           0.7| 158657.2142857143|
|           0.8|          137950.0|
|           0.9|128138.68181818182|
|           1.0|107740.90909090909|
|           1.1| 102557.8947368421|
|           1.2| 114496.0594059406|
|           1.3|          105275.0|
|           1.4| 98682.78145695364|
|           1.5|108070.85714285714|
|           1.6|106120.26293103448|
|           1.7|105001.96393442623|
|           1.8|108815.83397683398|
|           1.9|115284.70068027212|
|           2.0|122114.09668508287|
|           2.1|126340.62215909091|
|           2.2|126268.87871853547|
|           2.3| 135354.3523573201|
|           2.4| 136875.4770889488|
+--------------+------------------+
only showing top 20 rows

In [15]:
df.orderBy(df["population"].desc()).select(
    "longitude", "latitude", "population", "median_house_value"
).show(5)

+-----------+---------+----------+------------------+
|  longitude| latitude|population|median_house_value|
+-----------+---------+----------+------------------+
|-120.000000|38.930000|999.000000|     313400.000000|
|-121.210000|37.810000|999.000000|     172100.000000|
|-120.420000|38.420000|999.000000|      91900.000000|
|-119.790000|36.550000|999.000000|      76800.000000|
|-120.430000|34.890000|999.000000|     158000.000000|
+-----------+---------+----------+------------------+
only showing top 5 rows

In [ ]:
âœ… Top 5 most populated blocks:

In [16]:
df.orderBy(df["population"].desc()).select(
    "longitude", "latitude", "population", "median_house_value"
).show(5)

+-----------+---------+----------+------------------+
|  longitude| latitude|population|median_house_value|
+-----------+---------+----------+------------------+
|-120.000000|38.930000|999.000000|     313400.000000|
|-121.210000|37.810000|999.000000|     172100.000000|
|-120.420000|38.420000|999.000000|      91900.000000|
|-119.790000|36.550000|999.000000|      76800.000000|
|-120.430000|34.890000|999.000000|     158000.000000|
+-----------+---------+----------+------------------+
only showing top 5 rows

âœ… Filter houses younger than 10 years old with high median income:

In [17]:
df.filter(
    (df["housing_median_age"] < 10) & (df["median_income"] > 5)
).show()

+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age| total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+
|-115.590000|32.790000|          8.000000| 2183.000000|    307.000000|1000.000000| 287.000000|     6.381400|     159900.000000|
|-116.260000|33.650000|          3.000000| 7437.000000|   1222.000000| 574.000000| 302.000000|    10.294800|     382400.000000|
|-116.370000|33.690000|          7.000000| 8806.000000|   1542.000000| 858.000000| 448.000000|     7.800500|     318100.000000|
|-116.400000|33.780000|          8.000000| 3059.000000|    500.000000| 612.000000| 208.000000|     6.872900|     259200.000000|
|-116.440000|33.740000|          5.000000|  846.000000|    249.000000| 117.000000|  67.000000|     7.988500|     403300.000000|
|-116.890000|32.670000|          9.000000| 2652.000000|    393.000000|1355.000000| 362.000000|     6.257800|     293100.000000|
|-116.900000|32.770000|          8.000000| 3600.000000|    492.000000|1421.000000| 482.000000|     6.260900|     307100.000000|
|-116.910000|32.730000|          8.000000| 4630.000000|    624.000000|2048.000000| 575.000000|     6.474500|     300300.000000|
|-116.980000|34.050000|          6.000000| 2290.000000|    312.000000| 957.000000| 274.000000|     7.270800|     316700.000000|
|-117.010000|32.990000|          8.000000| 3372.000000|    430.000000|1536.000000| 448.000000|     8.428400|     378300.000000|
|-117.020000|32.640000|          5.000000|  260.000000|     41.000000| 157.000000|  42.000000|     6.515100|     281700.000000|
|-117.040000|32.990000|          6.000000| 9518.000000|   1418.000000|4413.000000|1275.000000|     6.601200|     314900.000000|
|-117.040000|32.900000|          6.000000| 6525.000000|    826.000000|3146.000000| 806.000000|     9.285800|     436100.000000|
|-117.040000|32.830000|          8.000000| 2205.000000|    348.000000| 777.000000| 341.000000|     6.026600|     177400.000000|
|-117.070000|33.070000|          8.000000| 2756.000000|    343.000000|1045.000000| 340.000000|     8.595700|     444100.000000|
|-117.070000|32.910000|          5.000000| 2234.000000|    256.000000| 894.000000| 253.000000|    10.335400|     477600.000000|
|-117.080000|33.010000|          5.000000| 5659.000000|    931.000000|2565.000000| 902.000000|     6.194900|     238700.000000|
|-117.080000|32.930000|          5.000000|14944.000000|   2490.000000|6600.000000|2407.000000|     6.085700|     308300.000000|
|-117.080000|32.910000|          9.000000| 1547.000000|    218.000000| 683.000000| 231.000000|     7.560400|     327900.000000|
|-117.080000|32.830000|          7.000000|13703.000000|   2352.000000|4446.000000|1856.000000|     6.433500|     260600.000000|
+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

âœ… Correlation between median income and house value:

# New section

In [21]:
df = df.withColumn("median_income", df["median_income"].cast("double")) \
       .withColumn("median_house_value", df["median_house_value"].cast("double"))

In [22]:
corr = df.stat.corr("median_income", "median_house_value")
print(f"Correlation: {corr}")

Correlation: 0.6918706037806676

âœ… Register as a temp SQL table:

In [23]:
df.createOrReplaceTempView("housing")

spark.sql("""
  SELECT
    ROUND(median_income, 1) as income_bracket,
    AVG(median_house_value) as avg_value
  FROM housing
  GROUP BY income_bracket
  ORDER BY income_bracket
""").show()

+--------------+------------------+
|income_bracket|         avg_value|
+--------------+------------------+
|           0.5|144905.55555555556|
|           0.6|          111300.0|
|           0.7| 158657.2142857143|
|           0.8|          137950.0|
|           0.9|128138.68181818182|
|           1.0|107740.90909090909|
|           1.1| 102557.8947368421|
|           1.2| 114496.0594059406|
|           1.3|          105275.0|
|           1.4| 98682.78145695364|
|           1.5|108070.85714285714|
|           1.6|106120.26293103448|
|           1.7|105001.96393442623|
|           1.8|108815.83397683398|
|           1.9|115284.70068027212|
|           2.0|122114.09668508287|
|           2.1|126340.62215909091|
|           2.2|126268.87871853547|
|           2.3| 135354.3523573201|
|           2.4| 136875.4770889488|
+--------------+------------------+
only showing top 20 rows